<style>

h3{
	font-size:50px;
}


h4, h5{
	text-decoration:none;
	text-align:left;
	padding-left:20px;
}




ul{ 
	font-family:"Verdana",sans serif;
	font-size:15px;
	position:absolute;
	list-style-type:none;
	word-spacing:40px;
	margin-left:0px;
	padding-left:20px;
	padding-right:20px;
	top:0;
	border-bottom:1px solid #DAA520;
}

li{
	float:left;
}

a.b:link, a.b:visited{
	text-decoration:none;
	display:block;
	background:rgba(255,255,255,.8);
	color:goldenrod;
	margin:2px;
	padding:8px;
}

a.b:hover{
	color:darkgreen;
	
}

a.c:link, a.c:visited{
	text-decoration:none;
	color:goldenrod;
}

a.c:hover{
	color:darkgreen;
	
}



body{
	background-image:url("backgrounds/bg1.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	margin:0;
	padding:0;
}

h1{
	font-size:60px;
	-webkit-animation: myfirst 4s linear 0s 1 normal; /* Chrome, Safari, Opera */
    animation: myfirst 4s linear 0s 1 normal; /* Standard syntax */
}

@-webkit-keyframes myfirst{
	0%{opacity:0;}
	from{opacity:0;}
	to{opacity:1;}
}

@keyframes myfirst{
	0%{opacity:0;}
	from{opacity:0;}
	to{opacity:1;}
}	

h2{
	font-size:40px;
	text-decoration:none;
	text-align:left;
	padding-left:20px;
	border-bottom: 1px solid #DAA520;
}

p{
	font-family:"Verdana", sans-serif;
	font-size:17px;
	padding-left:3px;
	padding:20px;
	
}

#home{
	/*
	background:rgba(218,165,32,.8);
	*/
	background-position:center;
	color:white;
	margin:100px 20px;
	text-align:center;
	padding-top:50px;
	padding-bottom:50px;
}

#about, #resume, #works, #contact, #links{
	background:rgba(255,255,255,.7);
	background-position:center;
	color:black;
	margin:30px 20px;
	padding:10px; 			 
}

#footer {
	background:rgba(218,165,32,1);	
	color:white;
	clear:both;
	text-align:center;
	padding:5px; 
}

</style>
